<div class="task-item">
    <div class="banner">
      <h2 class="name">To-Do App For Your Daily Tasks</h2>
    </div>
    <h2 class="create">Create a New Task</h2>
  
    <form [formGroup]="taskForm" (ngSubmit)="onFormSubmit()">  
      <!-- Task Name -->
      <div class="form-group">
        <label for="name">Task Name</label>
        <input id="name" formControlName="name" class="form-control">
      </div>
  
      <!-- Description -->
      <div class="form-group description-group">
        <label for="description">Description</label>
        <textarea id="description" formControlName="description" class="form-control"></textarea>
      </div>
  
      <!-- Date Picker and Priority Dropdown -->
      <div class="form-group row-group">
        <div class="form-half-group">
          <label for="dueDate">Due Date</label>
          <input id="dueDate" formControlName="dueDate" type="date" class="form-control">
        </div>
  
        <div class="form-half-group">
          <label for="priority">Priority</label>
          <select id="priority" formControlName="priority" class="form-control">
            <option value="low">Low</option>
            <option value="medium">Medium</option>
            <option value="high">High</option>
          </select>
        </div>
      </div>
  
      <!-- Tags -->
      <div class="form-group tags-group">
        <label for="tags">Tags</label>
        <input id="tags" formControlName="tags" class="form-control" placeholder="Separated by Commas">
      </div>
  
      <!-- Add Task Button -->
      <button type="submit" value="submit" class="btn btn-primary add-task" *ngIf="!isEditClicked">Add Task</button>
      <button type="button" class="btn btn-primary add-task" *ngIf="isEditClicked" (click)="updateTask()">Update Task</button>
    </form>
  
    <div class="filter-buttons">
      <section>
        <mat-button-toggle-group
          name="favoriteColor"
          aria-label="Favorite Color"
          (change)="onToggleChange($event)"
        >
          <mat-button-toggle value="all">Show All</mat-button-toggle>
          <mat-button-toggle value="completed">Show Completed</mat-button-toggle>
          <mat-button-toggle value="priority">Filter by Priority</mat-button-toggle>
        </mat-button-toggle-group>
      </section>
    </div>

    <section>
        <h4>Filter By Tags</h4>
        <mat-button-toggle-group
          name="tags"
          aria-label="tags"
          (change)="onTagSelectionChange($event)"
          multiple
        >
        <mat-button-toggle *ngFor="let tag of tags" [value]="tag">{{ tag }}</mat-button-toggle>
        </mat-button-toggle-group>
      </section>
  
    <!-- Tasks Table -->
    <table class="table">
      <thead>
        <tr>
          <th>No.</th>
          <th>Task Name</th>
          <th>Description</th>
          <th>Due Date</th>
          <th>Priority</th>
          <th>Tags</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="displayedTasks.length === 0" class="no-tasks">No Tasks to Display</ng-container>
        <tr *ngFor="let task of displayedTasks; let i = index">
          <td>{{ i + 1 }}</td>
          <td><input type="checkbox" (change)="toggleCompleted($event, task)" [checked]="task.completed"> {{ task.name }}</td>
          <td>{{ task.description }}</td>
          <td>{{ task.dueDate | date }}</td>
          <td>{{ task.priority }}</td>
          <td>{{ task.tags }}</td>
          <td>
            <button class="btn btn-warning" (click)="editTask(i)">Edit</button>
            <button class="btn btn-danger" (click)="deleteTask(task)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  