.login-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .login-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
  }
  
  .signup-link {
    text-align: center;
    margin-top: 20px;
  }
  
  .signup-link p {
    margin: 0;
  }
  
  .signup-link a {
    cursor: pointer;
    color: #0e1e77;
    text-decoration: none;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }
  small{
    color: red;
  }
  .bg-red{
    border-color: red;
  }
  